<li class="link-item">
	<div class="link-item-wrap">
		<a 
		  href="<%= item.link %>"
		  class="link-lk"
		  target="_blank"
		>
			<img 
			  src="<%= item.logoUrl %>" 
			  alt="<%= item.title %>"
			  class="link-img"
			/>
		</a>
		<p class="item-tt">
			<a href="<%= item.link %>">
				<%= item.title %>
			</a>
		</p>
	</div>
</li>