<li class="manual-item">
	<div class="manual-item-wrap">
		<a 
		  href="<%= item.link %>"
		  class="manual-lk"
		  target="_blank"
		  style="
        background: url(<%= item.logoUrl %>);
        background-size: <%= item.bgSize %>;
        background-position: <%= item.bgPosition %>;
		  "
		></a>
		<p class="item-tt"><%= item.title %></p>
	</div>
</li>