<%- include('layout/head.ejs', { PAGE_CONF }) %>

<div class="container">
	<%- include('templates/common/header/index.ejs', {
		navData
	}) %>

	<%- include('templates/list/nav/index.ejs', {
		courseTabData
	}) %>

	<%- include('templates/list/courseList/index.ejs', {
		courseData,
		IMG_BASE_URL
	}) %>

	<%- include('templates/common/footer/index.ejs', {
		linkData,
		manualData
	}) %>

	<%- include('datas/courseData.ejs') %>
</div>

<%- include('layout/foot.ejs', { PAGE_CONF }) %>